
* {color: #FFFFFF;}
.backg-container {
    width: 100%;
}
html {
    font-family: 'Montserrat', sans-serif;
}
.a-none,
.a-none:hover,
.a-none:active,
.a-none:focus {
    text-decoration: none;
    color: #FFFFFF;
}
/* Header */
.backg-container.header {
    background-color: #2C3E50;
}
.margin-0 {
    margin: 0;
}
.my-fs-2x {
    font-size: 400%;
}
.avatar {
    width: 50%;
}
/* /Header */

/* Jumbotron */
/* .height-jumbo {height: var(--jumbo-height);} */
.backg-container.jumbo {
    background-color: #1ABC9C;
    /* height: var(--jumbo-height); */
}
.square-img {
    background-color: springgreen;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
/* /Jumbotron */

/* Main Top */
.txt-black {color: #000000;}
.height-main-top {height: var(--main-top);}
.backg-container.main-top {
    background-color: #FFFFFF;
    height: var(--main-top);
}
.rect-img {
    background-color: crimson;
    width: 360px;
    height: 260px;
    border-radius: 9px;
}
/* /Main Top */

/* Main Bottom */
.height-main-bottom {height: var(--main-bottom);}
.backg-container.main-bottom {
    background-color: #1ABC9C;
    height: var(--main-bottom);
}
/* /Main Bottom */

/* Footer Top */
.height-footer-top {height: var(--footer-top);}
.backg-container.footer-top {
    background-color: #FFFFFF;
    height: var(--footer-top);
}
.line-height-bigger {line-height: 4em;}
/* /Footer Top */

/* Footer Section */
.backg-container.footer {
    background-color: #3A546D;
    height: var(--footer);
}
.height-footer {height: var(--footer);}
/* /Footer Section */

/* Footer Bottom */
.backg-container.footer-bottom {
    background-color: #2C3E50;
    height: var(--footer-bottom);
}
.height-footer-bottom {height: var(--footer-bottom);}
/* /Footer Bottom */


@media screen and (min-width: 576px) {
    :root {
        --header-height: 74px;
        --jumbo-height: 407px;
        --main-top: 2073px;
        --main-bottom: 583px;
        --footer-top: 494px;
        --footer: 374px;
        --footer-bottom: 91px;
    }

    .menu-header {
        display: none;
    }
    .menu-header-icon {
        width: 37px;
        height: 29px;
        border: 1px solid #D0D2D3;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --main-top: 1351px;
        --main-bottom: 547px;
    }

    .menu-header-icon {
        display: none;
    }
    .menu-header {
        display: inline;
    }
}

@media screen and (min-width: 992px) {
    :root {
        --header-height: 90px;
        --jumbo-height: 588px;
        --main-top: 855px;
        --main-bottom: 491px;
        --footer-top: 685px;
        --footer: 231px;
        --footer-bottom: 110px;
    }
}