
html {font-family: 'Montserrat', sans-serif;}
.backg-container {width: 100%;}
.a-none,
.a-none:hover,
.a-none:active,
.a-none:focus {
    text-decoration: none;
}
.margin-0 {margin: 0;}
.my-fs-35x {font-size: 350%;}
.horr{
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 2px;
    width: 35%;
    height: 5px;
    margin: auto 0;
}
.horr-dark{
    background-color: #2C3E50;
    display: inline-block;
    border-radius: 2px;
    width: 35%;
    height: 5px;
    margin: auto 0;
}
.fa-star::before {
    font-size: 2em;
    color: #FFFFFF;
}
.fa-star.dark::before {color: #2C3E50;}
.txt-bright {color: #FFFFFF;}
.txt-dark {color: #333333;}

/* Header */
.backg-container.header {background-color: #2C3E50;}
/* /Header */

/* Jumbotron */
.backg-container.jumbo {background-color: #1ABC9C;}
.avatar {width: 50%;}
.skills {font-size: 1.5em;}
/* /Jumbotron */

/* Main Top */

.backg-container.main-top {background-color: #FFFFFF;}
.rect-img {
    width: 100%;
    height: auto;
    border-radius: 9px;
}
/* /Main Top */

/* Main Bottom */
.backg-container.main-bottom {background-color: #1ABC9C;}
.form-control {
    border: 0;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
}
/* /Main Bottom */

/* Footer Top */
.backg-container.footer-top {background-color: #FFFFFF;}
/* /Footer Top */

/* Footer Section */
.backg-container.footer {background-color: #3A546D;}
.circle {
    padding: 0.3em 0.4em;
    border-radius: 53%;
}
.txt-link {color: #1ABC9C;}
.btn.btn-success {
    background-color: #1ABC9C;
    border: 1px solid #1ABC9C;
}
/* /Footer Section */

/* Footer Bottom */
.backg-container.footer-bottom {background-color: #2C3E50;}
/* /Footer Bottom */

@media screen and (min-width: 576px) {
    :root {
        /* --header-height: 74px; */
    }
    .horr{
        background-color: #FFFFFF;
        display: inline-block;
        border-radius: 2px;
        width: 10%;
        height: 5px;
        margin: auto 0;
    }
    .horr-dark{
        background-color: #2C3E50;
        display: inline-block;
        border-radius: 2px;
        width: 10%;
        height: 5px;
        margin: auto 0;
    }
    .skills {
        font-size: 1.4em;
    }
    .menu-header {
        display: none;
    }
    .menu-header-icon {
        width: 37px;
        height: 29px;
        padding-top: 0.1em;
    }
    .fa-bars::before {
        color: #888888;
        font-size: 1.3em;
    }
    .pad-t-due-header {
        padding-top: 84.86px;
    }
}

@media screen and (min-width: 768px) {

    .horr{
        background-color: #FFFFFF;
        display: inline-block;
        border-radius: 2px;
        width: 20%;
        height: 5px;
        margin: auto 0;
    }
    .horr-dark{
        background-color: #2C3E50;
        display: inline-block;
        border-radius: 2px;
        width: 20%;
        height: 5px;
        margin: auto 0;
    }
    .menu-header-icon {
        display: none;
    }
    .menu-header {
        display: inline;
    }
}

@media screen and (min-width: 992px) {
    :root {
        --header-height: 90px;       
    }
    .horr{
        background-color: #FFFFFF;
        display: inline-block;
        border-radius: 2px;
        width: 35%;
        height: 5px;
        margin: auto 0;
    }
    .horr-dark{
        background-color: #2C3E50;
        display: inline-block;
        border-radius: 2px;
        width: 35%;
        height: 5px;
        margin: auto 0;
    }
}